html
    head
        title Deepella: Absence Management
        link(type="text/css", rel="stylesheet", href="css/index.css")
        script(type="text/javascript", src="lib/jquery-3.2.1/jquery-3.2.1.min.js")
        script(type="text/javascript", src="lib/js.cookie-2.1.4/js.cookie-2.1.4.min.js")
        script(type="text/javascript", src="js/common.js")
        script(type="text/javascript", src="js/auth.js")
        script(type="text/javascript", src="js/index.js")
    body
        .cssload-container
            .cssload-whirlpool